<section>
    <div class="main-container">
        <h1 class="mb-5">
            {{#if player}}
                Modification du joueur : {{player.name}}
            {{else}}
                Création d'un nouveau joueur
            {{/if}}
        </h1>

        <form action="/players{{#if player}}/{{player.id}}{{/if}}" method="POST" class="text-sm">
            <div class="flex flex-col mb-3">
                <label for="name">Nom</label>
                <input type="text" name="name" placeholder="Nom" required>
            </div>
            <div class="flex flex-col mb-3">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <button class="text-lg bg-gray-900 hover:bg-black font-bold tracking-wide rounded-md px-3 py-2 w-full text-white text-center">Valider</button>
        </form>
    </div>
</section>