<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <title>Dart Game</title>
    </head>

    <body>
        <header class="bg-indigo-500 text-white py-5">
            <div class="main-container">
                <nav class="flex items-center justify-between">
                    <a href="/games"><span class="text-4xl font-bold">Dart</span></a>

                    <ul class="flex items-center space-x-10">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="my-10">
            {{{ body }}}
        </main>

        <footer class="bg-indigo-900 text-white py-10">
            <div class="main-container">
                <p class="text-center">TD Node.js</p>
                <p class="text-center">Alex Boisseau & Thomas Le Naour</p>
            </div>
        </footer>

        {{./javascripts}}
    </body>
</html>