<section>
    <div class="main-container">
        <h1 class="mb-5">Partie {{ game.name }}</h1>

        <div class="grid grid-cols-5 gap-6">
            <div class="col-span-4">
                <div class="flex justify-center">
                    <img src="/assets/images/target.svg" usemap="#image-map">
                    <map name="image-map">
                        <area target="" alt="" title="" href="#" coords="251,68,298,83,274,130,243,119" shape="poly">
                        <area target="" alt="" title="" href="#" coords="241,130,270,139,234,212,228,210" shape="poly">
                        <area target="" alt="" title="" href="#" coords="300,84,339,112,301,149,276,131" shape="poly">
                        <area target="" alt="" title="" href="#" coords="272,139,295,157,238,214,234,211" shape="poly">
                        <area target="" alt="" title="" href="#" coords="340,112,369,152,322,177,303,150" shape="poly">
                        <area target="" alt="" title="" href="#" coords="296,158,314,182,242,219,239,214" shape="poly">
                        <area target="" alt="" title="" href="#" coords="370,154,385,201,332,209,323,178" shape="poly">
                        <area target="" alt="" title="" href="#" coords="314,183,323,211,243,223,242,218" shape="poly">
                        <area target="" alt="" title="" href="#" coords="385,203,385,252,333,243,333,210" shape="poly">
                        <area target="" alt="" title="" href="#" coords="323,212,323,241,243,229,243,223" shape="poly">
                        <area target="" alt="" title="" href="#" coords="386,253,369,299,323,275,332,244" shape="poly">
                        <area target="" alt="" title="" href="#" coords="314,270,323,243,243,230,242,233" shape="poly">
                        <area target="" alt="" title="" href="#" coords="370,299,341,340,303,303,323,275" shape="poly">
                        <area target="" alt="" title="" href="#" coords="313,272,241,234,239,239,296,296" shape="poly">
                        <area target="" alt="" title="" href="#" coords="340,341,301,368,276,322,303,304" shape="poly">
                        <area target="" alt="" title="" href="#" coords="272,313,295,296,238,239,235,241" shape="poly">
                        <area target="" alt="" title="" href="#" coords="300,371,252,385,244,333,275,323" shape="poly">
                        <area target="" alt="" title="" href="#" coords="271,315,241,324,228,244,235,242" shape="poly">
                        <area target="" alt="" title="" href="#" coords="251,386,202,385,210,334,242,334" shape="poly">
                        <area target="" alt="" title="" href="#" coords="213,323,241,324,228,243,225,244" shape="poly">
                        <area target="" alt="" title="" href="#" coords="200,385,153,370,177,323,208,333" shape="poly">
                        <area target="" alt="" title="" href="#" coords="181,314,219,242,223,244,210,323" shape="poly">
                        <area target="" alt="" title="" href="#" coords="152,369,113,341,150,303,175,323" shape="poly">
                        <area target="" alt="" title="" href="#" coords="157,296,180,312,218,242,216,239" shape="poly">
                        <area target="" alt="" title="" href="#" coords="112,340,83,300,130,275,149,302" shape="poly">
                        <area target="" alt="" title="" href="#" coords="139,271,156,295,214,238,211,235" shape="poly">
                        <area target="" alt="" title="" href="#" coords="82,299,67,252,119,245,130,275" shape="poly">
                        <area target="" alt="" title="" href="#" coords="129,242,138,269,210,233,209,230" shape="poly">
                        <area target="" alt="" title="" href="#" coords="66,251,67,203,119,211,120,244" shape="poly">
                        <area target="" alt="" title="" href="#" coords="129,212,128,241,209,230,209,224" shape="poly">
                        <area target="" alt="" title="" href="#" coords="68,199,82,154,129,178,119,209" shape="poly">
                        <area target="" alt="" title="" href="#" coords="138,182,129,210,209,223,210,220" shape="poly">
                        <area target="" alt="" title="" href="#" coords="82,153,111,113,149,150,130,177" shape="poly">
                        <area target="" alt="" title="" href="#" coords="157,157,139,180,211,218,213,213" shape="poly">
                        <area target="" alt="" title="" href="#" coords="113,111,152,84,176,130,150,148" shape="poly">
                        <area target="" alt="" title="" href="#" coords="181,139,158,156,215,213,218,212" shape="poly">
                        <area target="" alt="" title="" href="#" coords="154,83,200,67,209,119,177,129" shape="poly">
                        <area target="" alt="" title="" href="#" coords="182,140,210,130,224,209,219,211" shape="poly">
                        <area target="" alt="" title="" href="#" coords="202,67,250,67,241,118,210,118" shape="poly">
                        <area target="" alt="" title="" href="#" coords="212,129,240,130,228,209,225,210" shape="poly">
                        <area target="" alt="50" title="50" href="#" coords="232,223,229,221,224,220,220,225,224,233,230,231,231,228,232,223" shape="poly">
                        <area target="" alt="25" title="25" href="#" coords="219,212,232,212,240,219,242,229" shape="poly">
                        <area target="" alt="25" title="25" href="#" coords="218,212,225,217,212,234,210,221" shape="poly">
                        <area target="" alt="25" title="25" href="#" coords="218,226,212,235,222,242,230,241" shape="poly">
                        <area target="" alt="25" title="25" href="#" coords="226,234,236,225,242,232,232,242" shape="poly">
                        <area target="" alt="" title="" href="#" coords="255,58,302,73,300,81,252,65" shape="poly">
                        <area target="" alt="" title="" href="#" coords="243,121,273,131,270,136,242,128" shape="poly">
                        <area target="" alt="" title="" href="#" coords="304,75,346,105,341,112,301,82" shape="poly">
                        <area target="" alt="" title="" href="#" coords="275,132,301,150,295,155,272,138" shape="poly">
                        <area target="" alt="" title="" href="#" coords="346,106,378,148,370,151,343,112" shape="poly">
                        <area target="" alt="" title="" href="#" coords="302,151,321,177,314,181,297,157" shape="poly">
                        <area target="" alt="" title="" href="#" coords="378,150,394,199,385,202,371,153" shape="poly">
                        <area target="" alt="" title="" href="#" coords="321,177,314,182,324,210,331,208" shape="poly">
                        <area target="" alt="" title="" href="#" coords="394,201,387,202,388,250,395,253" shape="poly">
                        <area target="" alt="" title="" href="#" coords="331,209,324,212,325,241,332,241" shape="poly">
                        <area target="" alt="" title="" href="#" coords="395,255,387,254,371,299,378,303" shape="poly">
                        <area target="" alt="" title="" href="#" coords="331,244,324,243,314,271,322,274" shape="poly">
                        <area target="" alt="" title="" href="#" coords="371,301,377,304,348,346,342,340" shape="poly">
                        <area target="" alt="" title="" href="#" coords="314,273,321,276,302,301,297,296,314,273" shape="poly">
                        <area target="" alt="" title="" href="#" coords="347,348,342,340,300,371,305,379" shape="poly">
                        <area target="" alt="" title="" href="#" coords="295,298,301,303,276,321,272,315" shape="poly">
                        <area target="" alt="" title="" href="#" coords="303,379,299,373,252,387,253,395" shape="poly">
                        <area target="" alt="" title="" href="#" coords="274,322,270,316,242,325,243,332" shape="poly">
                        <area target="" alt="" title="" href="#" coords="251,388,252,395,200,395,201,387" shape="poly">
                        <area target="" alt="" title="" href="#" coords="211,324,210,331,241,332,241,324" shape="poly">
                        <area target="" alt="" title="" href="#" coords="199,394,148,379,152,372,199,386" shape="poly">
                        <area target="" alt="" title="" href="#" coords="207,331,178,321,181,315,209,323" shape="poly">
                        <area target="" alt="" title="" href="#" coords="147,377,106,347,112,342,150,369" shape="poly">
                        <area target="" alt="" title="" href="#" coords="151,303,156,297,179,313,176,321" shape="poly">
                        <area target="" alt="" title="" href="#" coords="104,346,75,304,81,300,110,341" shape="poly">
                        <area target="" alt="" title="" href="#" coords="150,301,131,274,138,272,155,295" shape="poly">
                        <area target="" alt="" title="" href="#" coords="73,302,80,299,65,252,58,253" shape="poly">
                        <area target="" alt="" title="" href="#" coords="120,244,128,243,137,269,130,272" shape="poly">
                        <area target="" alt="" title="" href="#" coords="57,252,64,251,65,202,58,200" shape="poly">
                        <area target="" alt="" title="" href="#" coords="120,210,127,211,128,241,121,242" shape="poly">
                        <area target="" alt="" title="" href="#" coords="58,198,74,149,81,152,66,200" shape="poly">
                        <area target="" alt="" title="" href="#" coords="130,178,136,182,128,210,120,208" shape="poly">
                        <area target="" alt="" title="" href="#" coords="74,148,105,106,110,111,81,152" shape="poly">
                        <area target="" alt="" title="" href="#" coords="106,105,148,74,152,82,111,110" shape="poly">
                        <area target="" alt="" title="" href="#" coords="150,151,156,156,138,181,130,178" shape="poly">
                        <area target="" alt="" title="" href="#" coords="177,131,151,150,156,155,179,139" shape="poly">
                        <area target="" alt="" title="" href="#" coords="149,75,198,59,199,66,153,81" shape="poly">
                        <area target="" alt="" title="" href="#" coords="208,122,178,131,181,138,210,129" shape="poly">
                        <area target="" alt="" title="" href="#" coords="201,59,253,59,252,65,201,66" shape="poly">
                        <area target="" alt="" title="" href="#" coords="210,121,242,120,241,128,210,128" shape="poly">
                    </map>
                </div>
            </div>
            <div class="col-span-1 p-5 border border-gray-200 rounded-md">
                <h2 class="font-bold text-2xl mb-5">Joueurs</h2>
                <ul class="list-disc list-inside{{#ifEquals game.status 'draft'}} mb-5{{/ifEquals}}">
                    {{#each players}}
                        <li>{{this.playerId.name}}
                            {{!-- {{#ifEquals game.currentPlayerId this.playerId.id }} <span class="italic">({{this.remainingShot}} coups restants</span>{{/ifEquals}} --}}
                        </li>
                    {{/each}}
                </ul>
                {{#ifEquals game.status 'draft'}}<a href="/games/{{game.id}}/players" class="text-indigo-500">Ajouter / Supprimer des joueurs</a>{{/ifEquals}}
            </div>
        </div>
    </div>
</section>